<!DOCTYPE html>
<html lang="es">

<!--Head-->
<%- include('./partials/head.ejs') %>

<!--Styles-->
<link rel="stylesheet" href="/css/style-prod-cart.css">

<!--Body Code-->
<body>

<!--Header-->
<%- include('./partials/header.ejs') %>

<!--Main Code-->
    <main>

        <div class="facturacion">

            <div class="cabecera">
                <a href="/"> <img class="logo" src="/img/at-logo-completo.png" alt=""> </a>

                <h2> Selecciona tu Forma de Pago</h2>

                <div class="medio-pago">

                    <button class="h3">Mercado Pago</button>
                    
                    <button class="h3">Efectivo</button>
                </div>
            </div>

            <div class="informacion">
                <div class="errors">

                </div>

                <h2> Información de Contacto</h2>
                <form action="/" method="GET">
                    <input type="email" class="grande" name="email" id="email" placeholder="Email@email.com">
                    <input type="checkbox" class="newsletter" name="newsletter" id="newsletter" >
                    <label for="newsletter"> Recibir Información sobre nuevos Productos</label>

                    <h2>Información de Envío</h2>

                        <input type="text" class="grande" name="nombre" id="nombre" placeholder="Nombre y Apellido" required>
                        <input type="text" class="grande" name="direccion" id="direccion" placeholder="Dirección Completa" required>
                        <input type="text" class="grande" name="Provincia" id="Provincia" placeholder="Provincia" required>
                        <input type="text" class="grande" name="cp" id="cp" placeholder="Código Postal" required>

            </div>
        </div>

        <div class="detalle-pedido">

            <div class="sinProducto">

            </div>
            <div class="detalle-compra">

            </div>
            
            <div class="envio">

                <button type="submit" id="botonBorrar" class="botones botonBorrar">Vaciar Carrito</button>
            </div>
            <a href="/" class="volver-inicio"> << Volver al inicio </a>

            <button type="submit" id="botonEnviar" class="botones">Enviar Pedido</button>
        </form>

        </div>
    
    </main>

<!--Footer-->
<%- include('./partials/footer.ejs') %>

</body>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<script src="/JS/carrito.js"></script>
<script>
    let pago = document.querySelectorAll('.h3');
    pago.forEach(p=>{
        p.addEventListener('click',function(){
            style = this.style;
            style.backgroundColor = 'rgb(124,217,51)';
            style.color = '#17191A';
            style.border = '1px solid rgb(124,217,51)';
            style.borderRadius = '5px';          
        })
    } )
</script>
</html>